GitPython
Pillow
accelerate

blendmodes
clean-fid
diskcache
einops
facexlib
fastapi==0.115.12
gradio==3.44.4
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf==3.20.3
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image==0.25.2
tomesd
torch
torchdiffeq
torchsde
transformers==4.50.3
pillow-avif-plugin==1.5.1